.heading{
    box-shadow: 5px 5px 5px grey;
}
body{
    background-size: 100% 100%;
}
.copy_right_footer{
    background-color: gold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
canvas{
    border: 5px solid red;
    box-shadow: 5px 5px 5px orange;
    margin-top: 0px;
}